<section class="page-header">
  <h1 class="project-name">ngx-timezones</h1>
  <h2 class="project-tagline">
    An Angular module for timezones (based on moment.js)
  </h2>
  <a
    href="https://github.com/samuelnygaard/ngx-timezones"
    class="btn"
    target="_blank"
    >View on GitHub</a
  >
  <a
    href="https://www.npmjs.com/package/ngx-timezones"
    class="btn"
    target="_blank"
    >View on NPM</a
  >
  <a
    href="https://api.github.com/repos/samuelnygaard/ngx-timezones/tarball/"
    class="btn"
    >Download .zip</a
  >
  <a
    href="https://api.github.com/repos/samuelnygaard/ngx-timezones/zipball/"
    class="btn"
    >Download .tar.gz</a
  >
</section>

<section class="main-content">
  <p>
    Selection timezones can be a hurdle when you want to support all timezones
    for each country in the world. This Angular library utilizes
    <a
      href="https://github.com/bithost-gmbh/ngx-mat-select-search"
      target="_blank"
      ><code>ngx-mat-select-search</code></a
    >
    to make an advanced timezone selector.
  </p>
  <h3>Content:</h3>
  <ul>
    <li><a href="#installation">Installation</a></li>
    <li><a href="#demonstration">Demonstration</a></li>
    <li><a href="#documentation">Documentation</a></li>
  </ul>
  <h1>
    <a id="installation" class="anchor" href="#installation" aria-hidden="true"
      ><span class="octicon octicon-link"></span></a
    >Installation
  </h1>
  <hr />
  <p>Install the library in your Angular projects root folder:</p>
  <pre><code>npm i ngx-timezones</code></pre>
  <h2>
    <a
      id="importing-header-2"
      class="anchor"
      href="#importing"
      aria-hidden="true"
      ><span class="octicon octicon-link"></span></a
    >Importing
  </h2>
  <p>
    Import the <code>NgxTimezonesModule</code> in the your
    <code>app.module.ts</code>:
  </p>
  <pre><code>{{importCode}}</code></pre>

  <h1>
    <a
      id="demonstration"
      class="anchor"
      href="#demonstration"
      aria-hidden="true"
      ><span class="octicon octicon-link"></span></a
    >Demonstration
  </h1>
  <hr />
  <p>
    This demo shows the usage of <code>ngx-timezones</code> with default
    Documentation:
  </p>

  <ngx-timezones [(timezone)]="timezone" [disabled]="disabled"></ngx-timezones>

  <code>app.component.ts</code>
  <pre><code>timezone = {{timezone ? "'" + timezone + "'" : 'undefined'}};
disabled = {{disabled}};</code></pre>
  <code>app.component.html</code>
  <pre><code>{{code}}</code></pre>

  <button
    class="btn btn-inverted"
    *ngIf="timezone"
    (click)="timezone = undefined"
  >
    Reset timezone
  </button>
  <button class="btn btn-inverted" (click)="disabled = !disabled">
    {{ disabled ? 'Enable' : 'Disable' }}
  </button>

  <h2>
    <a id="header-demo" class="anchor" href="#guess-demo" aria-hidden="true"
      ><span class="octicon octicon-link"></span></a
    >Guess demonstration
  </h2>
  <p>
    This demonstration shows the <code>[guess]="true"</code> feature, which
    allows <code>moment.js</code> to guess the timezone based on the user's
    browser.
  </p>

  <ngx-timezones #ngxTimezone [guess]="true" [(timezone)]="guessedTimezone">
  </ngx-timezones>

  <code>app.component.ts</code>
  <pre><code>guessedTimezone = {{guessedTimezone ? "'" + guessedTimezone + "'" : 'undefined'}};</code></pre>
  <code>app.component.html</code>
  <pre><code> {{code1}}</code></pre>
  <button
    class="btn btn-inverted"
    *ngIf="guessedTimezone"
    (click)="guessedTimezone = undefined"
  >
    Reset guessedTimezone
  </button>
  <button
    class="btn btn-inverted"
    *ngIf="!guessedTimezone"
    (click)="ngxTimezone.guessedTimezone()"
  >
    Guess timezone
  </button>
  <h2>
    <a id="header-demo" class="anchor" href="#offset-demo" aria-hidden="true"
      ><span class="octicon octicon-link"></span></a
    >Offset demonstration
  </h2>
  <p>
    This demo shows how you can alter the offset settings (show/hide) and
    (GMT/UTC)
  </p>

  <ngx-timezones
    #ngxTimezone
    [guess]="true"
    [showOffset]="showOffset"
    [offsetName]="offsetName"
    [(timezone)]="offsetTimezone"
  >
  </ngx-timezones>

  <code>app.component.ts</code>
  <pre><code>offsetTimezone = {{offsetTimezone ? "'" + offsetTimezone + "'" : 'undefined'}};
showOffset = {{showOffset ? 'true' : 'false'}};
offsetName = '{{offsetName}}';</code></pre>
  <code>app.component.html</code>
  <pre><code> {{code2}}</code></pre>

  <button class="btn btn-inverted" (click)="showOffset = !showOffset">
    {{ showOffset ? 'Hide' : 'Show' }} offset
  </button>
  <button
    class="btn btn-inverted"
    (click)="tmp = offsetName; offsetName = altName; altName = tmp"
  >
    Use {{ altName }}
  </button>
  <h1>
    <a
      id="documentation"
      class="anchor"
      href="#documentation"
      aria-hidden="true"
      ><span class="octicon octicon-link"></span></a
    >Documentation
  </h1>
  <hr />
  <p>TODO</p>
  <footer class="site-footer">
    <span class="site-footer-owner"
      ><a href="https://github.com/jasonlong/cayman-theme">Cayman</a> is
      maintained by <a href="https://github.com/jasonlong">jasonlong</a>.</span
    >

    <span class="site-footer-credits"
      >This page was generated by
      <a href="https://pages.github.com">GitHub Pages</a> using the
      <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by
      <a href="https://twitter.com/jasonlong">Jason Long</a>.</span
    >
  </footer>
</section>
