<section class="page-header">
  <h1 class="project-name">ngx-timezones</h1>
  <h2 class="project-tagline">
    An Angular module for timezones (based on moment.js)
  </h2>
  <a
    href="https://github.com/samuelnygaard/ngx-timezones"
    class="btn"
    target="_blank"
    >View on GitHub</a
  >
  <a
    href="https://www.npmjs.com/package/ngx-timezones"
    class="btn"
    target="_blank"
    >View on NPM</a
  >
  <a
    href="https://api.github.com/repos/samuelnygaard/ngx-timezones/tarball/"
    class="btn"
    >Download .zip</a
  >
  <a
    href="https://api.github.com/repos/samuelnygaard/ngx-timezones/zipball/"
    class="btn"
    >Download .tar.gz</a
  >
</section>

<section class="main-content">
  <h1>
    <a id="header-demo" class="anchor" href="#demo" aria-hidden="true"
      ><span class="octicon octicon-link"></span></a
    >Basic demo
  </h1>
  <p>Demo text</p>

  <ngx-timezones [(timezone)]="timezone"></ngx-timezones>

  app.component.ts
  <pre><code>timezone = {{timezone ? "'" + timezone + "'" : 'undefined'}};</code></pre>
  app.component.html
  <pre><code>{{code}}</code></pre>

  <button
    class="btn btn-inverted"
    *ngIf="timezone"
    (click)="timezone = undefined"
  >
    Reset timezone
  </button>

  <h1>
    <a id="header-demo" class="anchor" href="#guess-demo" aria-hidden="true"
      ><span class="octicon octicon-link"></span></a
    >Guess demo
  </h1>
  <p>Demo text</p>

  <ngx-timezones #ngxTimezone [guess]="true" [(timezone)]="guessedTimezone">
  </ngx-timezones>

  app.component.ts
  <pre><code>guessedTimezone = {{guessedTimezone ? "'" + guessedTimezone + "'" : 'undefined'}};</code></pre>
  app.component.html
  <pre><code> {{code2}}</code></pre>
  <button
    class="btn btn-inverted"
    *ngIf="guessedTimezone"
    (click)="guessedTimezone = undefined"
  >
    Reset guessedTimezone
  </button>
  <button
    class="btn btn-inverted"
    *ngIf="!guessedTimezone"
    (click)="ngxTimezone.guessedTimezone()"
  >
    Guess timezone
  </button>
  <button class="btn btn-inverted" (click)="showOffset = !showOffset">
    {{ showOffset ? 'Hide' : 'Show' }} offset
  </button>
  <button
    class="btn btn-inverted"
    (click)="tmp = offsetName; offsetName = altName; altName = tmp"
  >
    Use {{ altName }}
  </button>

  <h1>
    <a id="header-demo" class="anchor" href="#offset-demo" aria-hidden="true"
      ><span class="octicon octicon-link"></span></a
    >Offset demo
  </h1>
  <p>Demo text</p>

  <ngx-timezones
    #ngxTimezone
    [guess]="true"
    [showOffset]="showOffset"
    [offsetName]="offsetName"
    [(timezone)]="offsetTimezone"
  >
  </ngx-timezones>

  app.component.ts
  <pre><code>offsetTimezone = {{offsetTimezone ? "'" + offsetTimezone + "'" : 'undefined'}};
showOffset = {{showOffset ? 'true' : 'false'}};</code></pre>
  app.component.html
  <pre><code> {{code3}}</code></pre>

  <button class="btn btn-inverted" (click)="showOffset = !showOffset">
    {{ showOffset ? 'Hide' : 'Show' }} offset
  </button>
  <button
    class="btn btn-inverted"
    (click)="tmp = offsetName; offsetName = altName; altName = tmp"
  >
    Use {{ altName }}
  </button>
  <footer class="site-footer">
    <span class="site-footer-owner"
      ><a href="https://github.com/jasonlong/cayman-theme">Cayman</a> is
      maintained by <a href="https://github.com/jasonlong">jasonlong</a>.</span
    >

    <span class="site-footer-credits"
      >This page was generated by
      <a href="https://pages.github.com">GitHub Pages</a> using the
      <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by
      <a href="https://twitter.com/jasonlong">Jason Long</a>.</span
    >
  </footer>
</section>
